.banner-icon {
  width: 25%;
}

img.wooden_pickaxe {
	width: 25%;
}

img.stone_pickaxe {
	width: 25%;
}

img.iron_pickaxe {
	width: 25%;
}

img.golden_pickaxe {
	width: 25%;
}

img.diamond_pickaxe {
	width: 25%;
}

img.wooden_shovel {
	width: 25%;
}

img.stone_shovel {
	width: 25%;
}

img.iron_shovel {
	width: 25%;
}

img.golden_shovel {
	width: 25%;
}

img.diamond_shovel {
	width: 25%;
}

